.filter_list{
    border:1px solid #cccccc;;
    width: 15%;
    height: 12%;
    left: 70%;
    background-color: white;
    ;
}
.filter_list ul {
    display: block;
}
.filter_list ul li{
    display: block;
    position: relative;
    top: 5%;
    right: 30%;
    width: 153%;
    width: 143%;
    padding: 3px 0px;
    background-color: white;
    
}
.filter-arrow{
    left: 10rem;
    font-size: 20px;
}

.filter_list:hover ul {
    display: block;
}