@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,300&family=Young+Serif&display=swap');
/* Include Tailwind CSS directives */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html, body{
    font-family: 'Playfair Display' ;
}
.primary-bg{
    background-color: #f3f3f3;
}
.box{
    width: 100%;
    height: auto;
    padding-inline: 10%;
    }

    .secondary-bg {
        color: #2F5951;
    }
    .green-bg {
      background-color: #2F5951;
    }
    hr{
        border-color: grey;
        margin: auto;
        display: block;
    }
    .icon-size{
        font-size: 2rem;
    }


    /* Active link style */
.nav-link {
    position: relative;
    color: black; /* Set the default text color */
  }
  
  /* Underline for active link */
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust to position the line as needed */
    left: 0;
    width: 0;
    height: 3px; /* Adjust line thickness if needed */
    background-color: #2F5951; /* Set the color of the underline */
    transition: width 0.5s ease; /* Transition width for smooth movement */
  }
  
  /* Active link underline */
  .nav-link.active::after,
  .nav-link:hover::after {
    width: 100%; /* Set full width for the active link and hovered link */
  }
  

  /* FOOTER */

  .footer {
    border-bottom-width: 2rem;
    border-color: #f3f3f3;
  }
  .footer-title{
    font-size: 1.85rem;
    font-weight: 500;
  }
  .phone{
    text-decoration: underline;
    cursor: pointer;
  }


  /* PROFILE SIDEBAR SETUP */
  .green-hover:hover {
    background-color: #2F5951;
    color: white;
  } 

  /* REGISTER AND SIGNIN */

.title-form{
    font-family:Montserrat;
    font-weight: bold;
}
.paragraph{
    font-family:Montserrat;
}
.line {
  height: 1px; 
}
/* Reset default styles */
ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the main navigation menu */
ul {
  display: flex;
}

/* Style the main category */
li {
  position: relative;
  margin-right: 20px;
}

/* Style the category link */


/* Style the categories container */
.categories-list {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; /* Change the background color as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
}

/* Show categories when hovering over the nav-link */
li:hover > .categories-list {
  display: block;
}

/* Style individual categories */
.categories-list > li {
  margin: 0;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc; /* Add a border between categories */
  cursor: pointer;
  
}

/* Style the category link */
.category-link {
  color: #2F5951; /* Change the color as needed */
  text-decoration: none;
  display: block;
 
}

/* Style individual subcategories */
.subcategories-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff; /* Change the background color as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  
}

/* Show subcategories when hovering over a category */
.categories-list > li:hover .subcategories-list {
  display: block;
}
.categories-list > li:hover  {
  display: block;
  background-color: #f0f0f0; /* Change the background color as needed */
  transition: background-color 0.3s ease-in-out;
}

/* Style the subcategory link */
.subcategories-list > li {
  margin: 0;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #ccc; /* Add a border between categories */
}
.categories-list > li:hover .arrow {
  visibility: visible;
}

/* Style the subcategory link */
.subcategories-list > li a {
  color: #555; /* Change the color as needed */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Add styles for subcategory link on hover */
.subcategories-list > li:hover {
  background-color: #f0f0f0; /* Change the background color as needed */
}

.notif{
  padding: 2px;
  padding-top: 0%;
  font-size: 10px;
  height: 15px;
  color:white;
}

