@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,300&family=Young+Serif&display=swap');
/* Include Tailwind CSS directives */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html, body{
    font-family: 'Playfair Display' ;
}
.primary-bg{
    background-color: #f3f3f3;
}
.box{
    width: 100%;
    height: auto;
    padding-inline: 10%;
    }

    .secondary-bg {
        color: #2F5951;
    }
    .green-bg {
      background-color: #2F5951;
    }
    hr{
        border-color: grey;
        margin: auto;
        display: block;
    }
    .icon-size{
        font-size: 2rem;
    }


    /* Active link style */
.nav-link {
    position: relative;
    color: black; /* Set the default text color */
  }
  
  /* Underline for active link */
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust to position the line as needed */
    left: 0;
    width: 0;
    height: 3px; /* Adjust line thickness if needed */
    background-color: #2F5951; /* Set the color of the underline */
    transition: width 0.5s ease; /* Transition width for smooth movement */
  }
  
  /* Active link underline */
  .nav-link.active::after,
  .nav-link:hover::after {
    width: 100%; /* Set full width for the active link and hovered link */
  }
  

  /* FOOTER */

  .footer {
    border-bottom-width: 2rem;
    border-color: #f3f3f3;
  }
  .footer-title{
    font-size: 1.85rem;
    font-weight: 500;
  }
  .phone{
    text-decoration: underline;
    cursor: pointer;
  }


  /* PROFILE SIDEBAR SETUP */
  .green-hover:hover {
    background-color: #2F5951;
    color: white;
  } 

  /* REGISTER AND SIGNIN */

.title-form{
    font-family:Montserrat;
    font-weight: bold;
}
.paragraph{
    font-family:Montserrat;
}
.line {
  height: 1px; 
}
/* drop menu of naveBar */
ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
ul:after { clear: both; }
ul ul ul {
  left: 100%;
  top: 0;
}
li:hover > ul {
  display: block;
  position: absolute;
}
li:hover li { 
  float: none;
  width: 100%;
  padding:5px 14px;
  background-color: #F5f5f5;
}
.main-navigation li ul li { border-top: 0; }
li ul { 
  display: none;
  border:1px solid #cccccc;
  }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
ul li {
  display: block;
  position: relative;
  float: left;
  
}

