
[data-aos='fade-out'] {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loader-container {
    display: flex;
    align-items: baseline;
    justify-content: center;

  }
  .first{
    stroke: black;
  }
  .second{
    stroke: #2F5951;
  }
  .text-draw {
    font-size: 5rem;
    fill: none;
    /* stroke: white; */
    
    stroke-width: 2;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 3s linear forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @media screen and (max-width: 768px) {
  .loader-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 340px;
    height: 100px;
  }
  .text-draw {
    font-size: 2rem;
    fill: none;
    /* stroke: white; */
    
    stroke-width: 2;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 3s linear forwards;
  }
  
}