@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Include Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base  {
    html {
        font-family: 'Inter',  sans-serif;
        line-height: 1.3;
    }
    table {
    }
    th,
    td {
        @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
    }
    thread {
        @apply bg-blue-600 text-white;
    }
    th {
        @apply bg-blue-700;
    }
    
    .productDetails {
        border: none;
        }
        
    .productDetails > th, td {
        border-style: none;
    }
    .item-detail {
        font-weight: bold;
    }
    
    .product-title-details{
        margin-left: 45%;
    }
    .close-detail{
        position: relative;
        left: 95%;
        top: 1%; 
    }
    .spanError{
        color:red;
        font-size: 12px;
        display: none;
    }
    input:invalid ~ span{
        display: block;
    }
}

.modalBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
}
.sub-titleAdd-product{
    padding:7px 0px 0px 22px;
    color: gray;
}
.titleAdd-product{
    padding:7px 0px 0px 22px;
}
.modalContainer {
    width: 500px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: 33%;
    margin-top: 10%;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    
    font-weight: bold;
}

.titleCloseBtn {
    margin-right: 93%;
    font-size: 15px;
    padding: 1px;
    color:white;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 12px;
    }

.popup-details{
    width: 75%;
}
.alert-supp{
    color: red;
}
.Select-category{
    border: 1px solid #DCDCDC;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}
.Select-category > * {
    color:#6c757d;
}
.Select-category > .addCat{
    color:#DCDCDC;
}